 <!-- Footer Start -->
 <footer class="footer-section">
    <div class="container">
        <div class="row">
           
  <div class="col-md-4 text-left">
   <p><span><a href="#home" class="smoth-scroll">Home</a></span> | <span><a href="#about" class="smoth-scroll">Sobre AEARP</a></span></p>
      </div>
           
        <div class="col-md-4 text-center">
           <p>© Copyright 2018 AEARP.</p>
           </div>
          
         <div class="col-md-4 uipasta-credit text-right">
            <p>Desenvolvido pelo <a href="https://www.facebook.com/JKiakumbo" target="_blank" title="UiPasta">João Kiakumbo</a></p>
            </div>
            
         </div>
    </div>
  </footer>
  <!-- Footer End -->
  
  
  <!-- Back to Top Start -->
  <a href="#" class="scroll-to-top"><i class="fa fa-angle-up"></i></a>
  <!-- Back to Top End -->
  