<!-- Portfolio Start -->
<section id="portfolio" class="portfolio section-space-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Galeria</h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <ul class="portfolio">
                <li class="filter" data-filter="all">Todas</li>
                <li class="filter" data-filter=".apps">Conferências</li>
                <li class="filter" data-filter=".mockups">Actividades</li>
                <li class="filter" data-filter=".wordpress">Festas</li>
            </ul>
        </div>
        
        <div class="portfolio-inner">
            <div class="row">
            
            
                <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
                    <div class="item">
                        <a href="../assets/home/images/portfolio/1.jpg" class="portfolio-popup" title="Project Title">
                            <img src="../assets/home/images/portfolio/1.jpg" alt="">
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12 mix mockups">
                    <div class="item">
                        <a href="../assets/home/images/portfolio/2.jpg" class="portfolio-popup" title="Project Title">
                            <img src="../assets/home/images/portfolio/2.jpg" alt="">
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
                    <div class="item">
                        <a href="../assets/home/images/portfolio/3.jpg" class="portfolio-popup" title="Project Title">
                            <img src="../assets/home/images/portfolio/3.jpg" alt="">
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12 mix mockups wordpress">
                    <div class="item">
                        <a href="../assets/home/images/portfolio/4.jpg" class="portfolio-popup" title="Project Title">
                            <img src="../assets/home/images/portfolio/4.jpg" alt="">
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12 mix wordpress apps">
                    <div class="item">
                        <a href="../assets/home/images/portfolio/5.jpg" class="portfolio-popup" title="Project Title">
                            <img src="../assets/home/images/portfolio/5.jpg" alt="">
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12 mix apps mockups wordpress" title="Project Title">
                    <div class="item">
                        <a href="../assets/home/images/portfolio/6.jpg" class="portfolio-popup">
                            <img src="../assets/home/images/portfolio/6.jpg" alt="">
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

  </section>
  <!-- Portfolio End -->
  